{%extends 'base.html'%}
{%block main%}
{%load static%}
{%include 'messages.html'%}

<main>
<div class="banner margin_bottom_150">
	<div class="container">
		<h1 class="title-font title-banner">About Us</h1>
		<ul class="breadcrumb des-font">
			<li><a href=" {% static 'Home1.html' %} ">Home</a></li>
			<li><a href="#">Pages</a></li>
			<li class="active">About us</li>
		</ul>
	</div>
</div>
<!--  -->
<div class="container shipping-home4 margin_bottom_150">
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 content">
			<div class="flex">
				<img src=" {% static 'asset/img/icon_ship.png' %} " class="img-responsive" alt=""><span class="title-font title-ship space_left_30">Free shipping</span>
			</div>
			<p class="des-font des-ship">I did not even know that there were any better 
				conditions to escape to, but I was more than 
				willing to take my chances among people 
				fashioned after.</p>
		</div>
		<!--  -->
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 content">
			<div class="flex">
				<img src=" {% static 'asset/img/icon_time.png' %} " class="img-responsive" alt=""><span class="title-font title-ship space_left_30">14 days return</span>
			</div>
			<p class="des-font des-ship">I did not even know that there were any better 
				conditions to escape to, but I was more than 
				willing to take my chances among people 
				fashioned after.</p>
		</div>
		<!--  -->
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 content">
			<div class="flex">
				<img src=" {% static 'asset/img/icon_phone.png' %} " class="img-responsive" alt=""><span class="title-font title-ship space_left_30">Free shipping</span>
			</div>
			<p class="des-font des-ship">I did not even know that there were any better 
				conditions to escape to, but I was more than 
				willing to take my chances among people 
				fashioned after.</p>
		</div>
	</div>
</div>
	<!--  -->
<div class="container-fluid section2-home1 margin_bottom_130 margin_top_150">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6 hidden-xs img-section over-hidden space_bot_30">
			<img src=" {% static 'asset/img/img-section2-home1.png' %} " class="img-responsive right delay03" alt="">
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-left space_top_bot_180 content-section">
			<h1 class="title-font"><a href="#" class="title-hover delay03"> Style is a way to say who you are without having to speak</a></h1>
		<p class="des-font space_top_bot_70">This summer vitrine brings you joy and excellence in customer  support. It not only looks 
			great but uses the latest trends in web development to insure fast transactions. This summer 
			vitrine brings you joy and excellence in customer  support. It not only looks great but it uses 
			the latest trends in web development to insure fast transactions. This summer vitrine brings 
			you joy and excellence in customer  support. It not only looks great but it uses the latest 
			trends in web development to insure fast transactions. This summer vitrine brings you joy 
			and excellence in customer  support.</p>
		<a href="#" class="menu-font uppercase learn_more title-hover delay03">learn more </a>
		</div>
	</div>
</div>
<!--  -->
<div class="content-about-page container margin_bottom_150">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 clear-space-right over-hidden">
			<a href="#"><img src=" {% static 'asset/img/img-about-1.jpg' %} " class="img-responsive hover-zoom-out" alt=""></a>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-about ver1">
			<h1 class="title-font title-about margin_bottom_50">Why we do?</h1>
			<p class="des-font des-about">This summer vitrine brings you joy and excellence in customer  support. It not only looks 
			great but uses the latest trends in web development to insure fast transactions. This summer 
			vitrine brings you joy and excellence in customer  support. It not only looks great but it uses 
			the latest trends in web development to insure fast transactions. This summer vitrine brings 
			you joy and excellence in customer  support. It not only looks great but it uses the latest 
			trends in web development to insure fast transactions. This summer vitrine brings you joy 
			and excellence in customer  support.</p>
		</div>
	</div>
	<!--  -->
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-about">
			<h1 class="title-font title-about margin_bottom_50">Our mission</h1>
			<p class="des-font des-about">This summer vitrine brings you joy and excellence in customer  support. It not only looks 
			great but uses the latest trends in web development to insure fast transactions. This summer 
			vitrine brings you joy and excellence in customer  support. It not only looks great but it uses 
			the latest trends in web development to insure fast transactions. This summer vitrine brings 
			you joy and excellence in customer  support. It not only looks great but it uses the latest 
			trends in web development to insure fast transactions. This summer vitrine brings you joy 
			and excellence in customer  support.</p>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 over-hidden clear-space-left">
			<a href="#"><img src=" {% static 'asset/img/img-about-2.jpg' %} " class="img-responsive hover-zoom-out" alt=""></a>
		</div>
	</div>
	<!--  -->
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 over-hidden clear-space-right">
			<a href="#"><img src=" {% static 'asset/img/img-about-3.jpg' %} " class="img-responsive hover-zoom-out" alt=""></a>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-about ver1">
			<h1 class="title-font title-about margin_bottom_50">Our mission</h1>
			<p class="des-font des-about">This summer vitrine brings you joy and excellence in customer  support. It not only looks 
			great but uses the latest trends in web development to insure fast transactions. This summer 
			vitrine brings you joy and excellence in customer  support. It not only looks great but it uses 
			the latest trends in web development to insure fast transactions. This summer vitrine brings 
			you joy and excellence in customer  support. It not only looks great but it uses the latest 
			trends in web development to insure fast transactions. This summer vitrine brings you joy 
			and excellence in customer  support.</p>
		</div>
	</div>
	<!--  -->
</div>
<!--  -->
	<div class="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="title-font capital title-testi">testimonials</h1>
                <p class="des-font des-testi">
                    Hear what our customers have to say about their experiences with our platform.
                    These testimonials showcase the impact we've made in their lives and projects.
                </p>
            </div>
            <div class="col-md-12">
                <div class="slider-comment">
                    <div class="content-comment relative">
                        <div class="number-font absolute stt-comment">#01</div>
                        <p class="menu-font des-comment space_bot_30">
                            “The platform made it incredibly easy to find the right resources for my project.
                            The user-friendly interface and helpful support team were game-changers.”
                        </p>
                        <span class="number-font uppercase author-comment">Ravi Sharma </span>
                    </div>
                    <!--  -->
                    <div class="content-comment relative">
                        <div class="number-font absolute stt-comment">#02</div>
                        <p class="menu-font des-comment space_bot_30">
                            “Using this platform was a transformative experience. It connected me with the
                            best tools to grow my startup, and the support was exceptional.”
                        </p>
                        <span class="number-font uppercase author-comment">Sanjay Singhaniya </span>
                    </div>
                    <!--  -->
                    <div class="content-comment relative">
                        <div class="number-font absolute stt-comment">#03</div>
                        <p class="menu-font des-comment space_bot_30">
                            “This service exceeded my expectations. The curated selection of solutions
                            helped me save time and achieve my goals more effectively.”
                        </p>
                        <span class="number-font uppercase author-comment">Vivan Ahuja </span>
                    </div>
                    <!--  -->
                    <div class="content-comment relative">
                        <div class="number-font absolute stt-comment">#04</div>
                        <p class="menu-font des-comment space_bot_30">
                            “I highly recommend this platform to anyone looking for efficient and reliable
                            project solutions. It’s truly a one-stop shop for success.”
                        </p>
                        <span class="number-font uppercase author-comment">Saumil Ehzwa </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</main>
{%endblock%}